/* Card */
.card {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  padding: 12px 20px;
  background-color: #f7f9f9;
  border-radius: 20px;
  color: #256d1b;
}
.card .card__header {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-top: -6.6666666667px;
  padding-right: 20px;
  padding-bottom: 6.6666666667px;
  width: calc(100% + 40px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.card .card__title {
  font-size: 1.6rem;
  margin-left: 20px;
  margin-top: 6.6666666667px;
}
.card .card__redirect {
  color: #149911;
  text-decoration: none;
  font-size: 1.4rem;
  justify-self: end;
  margin-left: 20px;
  margin-top: 6.6666666667px;
}
.card .card__content--unique {
  font-size: 2.2rem;
}

@media screen and (min-width: 901px) {
  .card__chart {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 680px) and (max-width: 900px) {
  .card__chart {
    width: calc(100vw - 350px);
    max-width: calc(100vw - 350px);
  }
}
@media screen and (min-width: 401px) and (max-width: 679px) {
  .card__chart {
    width: calc(100vw - 160px);
    max-width: calc(100vw - 160px);
  }
}
@media screen and (max-width: 400px) {
  .card__chart {
    width: calc(100vw - 80px);
    max-width: calc(100vw - 80px);
  }
}
/* Right bar */
.btn {
  text-align: start;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: 0.2s background-color, 0.3s color, 0.3s box-shadow;
}

.btn.btn--red {
  background-color: #fe5f55;
  color: white;
}

.btn:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

.layout {
  display: grid;
  grid-template-areas: "leftbar main" "footer footer";
  grid-template-rows: 1fr 80px;
  grid-template-columns: 250px 1fr;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

@media screen and (max-width: 400px) {
  .layout {
    display: flex;
    flex-flow: column nowrap;
    grid-template-columns: 1fr;
  }
}
.main {
  padding: 20px 20px;
  grid-area: main;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr minmax(200px, 250px);
  gap: 20px;
  grid-template-areas: "title title" "container buttons";
}
.main .main__header {
  color: #256d1b;
  display: grid;
  grid-template-areas: "title topright" "subtitle bottomright";
  gap: 10px;
  grid-area: title;
}
.main .main__header .header__title {
  grid-area: title;
}
.main .main__header .header__subtitle {
  font-weight: 400;
}
.main .main__header .header__subtitle--bottomleft {
  grid-area: subtitle;
}
.main .main__header .header__subtitle--topright {
  grid-area: topright;
}
.main .main__header .header__subtitle--bottomright {
  grid-area: bottomright;
}
.main .main__header .header__subtitle--topright,
.main .main__header .header__subtitle--bottomright {
  text-align: end;
}
.main .main__container {
  grid-area: container;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  height: min-content;
}

@media screen and (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title" "buttons" "container";
  }
  .main .main__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 400px) {
  .main .main__header {
    grid-template-areas: "title" "subtitle" "topright" "bottomright";
    grid-template-columns: 1fr;
  }
  .main .main__header .header__subtitle--topright,
.main .main__header .header__subtitle--bottomright {
    text-align: start;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  background-color: #114b5f;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  grid-area: footer;
}

/* Left bar */
.leftbar {
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.25);
  padding: 20px 0px;
  background-color: #008b72;
  color: white;
  font-size: 1.4rem;
  grid-area: leftbar;
  display: flex;
  flex-flow: column nowrap;
}
.leftbar .leftbar__title,
.leftbar .leftbar__date {
  padding: 0px 40px;
  margin-bottom: 10px;
}
.leftbar .leftbar__img {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 20px;
}
.leftbar .leftbar__menu {
  color: white;
  display: none;
  text-decoration: none;
}
.leftbar .leftbar__appbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .leftbar {
    padding: 0px 0px;
    max-height: 100px;
    overflow: hidden;
  }
  .leftbar .leftbar__img {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
  }
  .leftbar .leftbar__title,
.leftbar .leftbar__date {
    display: none;
  }
  .leftbar .leftbar__menu {
    display: flex;
    align-items: center;
  }
  .leftbar .leftbar__menu span:first-child {
    margin-right: 10px;
  }
  .leftbar .leftbar__appbar {
    padding: 10px 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
  }

  .leftbar.open {
    max-height: 900px;
    transition: max-height 1s ease-in-out;
  }
  .leftbar.open .leftbar__title,
.leftbar.open .leftbar__date {
    display: block;
  }
  .leftbar.open .leftbar__appbar {
    margin-bottom: 20px;
  }
}
.nav {
  margin: 20px 0;
}
.nav .nav__list {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}
.nav .nav__list .nav__list__item {
  padding: 10px 40px;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  color: white;
  text-decoration: none;
  transition: 0.2s background-color, 0.8s box-shadow;
  width: 100%;
}
.nav .nav__list .nav__list__item.nav__list__item--selected {
  background-color: #3aaed8;
}
.nav .nav__list .nav__list__item:hover,
.nav .nav__list .nav__list__item.nav__list__item--selected:hover {
  background-color: #149911;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 400px) {
  .nav {
    display: none;
  }

  .leftbar.open .nav {
    display: block;
  }
}
@media screen and (max-width: 680px) and (min-width: 401px) {
  .layout {
    grid-template-columns: auto 1fr;
  }

  .leftbar .leftbar__date,
.leftbar .leftbar__title {
    display: none;
  }
  .leftbar .leftbar__img {
    width: 40px;
    height: 40px;
  }

  .nav .nav__list .nav__list__item {
    padding: 10px 20px;
    gap: 0;
  }
  .nav .nav__list .nav__list__item .nav__list__item__text {
    display: none;
  }

  .main .main__container {
    grid-template-columns: 1fr;
  }
}
/* Buttons section */
.buttons {
  display: grid;
  gap: 20px;
  grid-area: buttons;
  height: min-content;
}
.buttons .btn {
  background-color: #008b72;
  color: white;
}
.buttons .btn h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.buttons .btn.btn--red {
  background-color: #fe5f55;
}
.buttons .btn:hover {
  background-color: #149911;
  color: white;
}

@media screen and (max-width: 900px) {
  .buttons {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media screen and (max-width: 400px) {
  .buttons {
    grid-template-columns: 1fr;
  }
}
.article {
  background-color: white;
  color: #001b2e;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 10px;
  height: 100px;
  max-height: 100px;
  margin-top: 10px;
  transition: 0.5s box-shadow;
  overflow: hidden;
}
.article .article__img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.25);
}
.article .article__content {
  padding: 10px 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas: "title title" "price eco";
  align-content: space-between;
  padding-right: 20px;
  height: 100%;
  width: 100%;
}
.article .article__content__title {
  grid-area: title;
  font-size: 1.4rem;
  font-weight: 400;
}
.article .article__content__price {
  grid-area: price;
  font-weight: 600;
}
.article .ecoindicator {
  justify-content: center;
  justify-items: center;
  grid-area: eco;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
.article .ecoindicator .ecoindicator__circle:nth-child(n+3) {
  grid-row: 1;
  grid-column: span 2;
}
.article .ecoindicator .ecoindicator__circle:only-child {
  grid-column: span 2;
}
.article .ecoindicator__circle {
  border-radius: 50%;
  height: 9px;
  width: 9px;
}
.article .ecoindicator__circle--blue {
  background-color: #3aaed8;
}
.article .ecoindicator__circle--yellow {
  background-color: #f5b82e;
}
.article .ecoindicator__circle--green {
  background-color: #149911;
}

@media screen and (max-width: 400px) {
  .article {
    grid-template-columns: 1fr;
    gap: 0;
    height: min-content;
    max-height: 200px;
  }
  .article .article__content {
    margin-bottom: 6.6666666667px;
    height: 100%;
    width: 100%;
  }
}
.card.article {
  padding: 0;
}

.chat {
  background-color: white;
  color: #001b2e;
  margin-top: 10px;
  width: 100%;
}
.chat .chat__name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.chat .chat__message {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.purchase {
  background-color: white;
  color: #001b2e;
  margin-top: 10px;
  width: 100%;
}
.purchase .purchase__quantity {
  font-size: 1.6rem;
  font-weight: 600;
}
.purchase .purchase__status {
  margin-bottom: 10px;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
