:root{
    --primary-color: rgba(20, 153, 17, 1.0);
    --left-bar-color: rgba(0, 139, 114, 1.0);
    --left-bar-color: rgba(0, 139, 114, 1.0);
    --accent-color: rgba(245, 184, 46, 1.0);
    --accent-blue-color: rgba(58, 174, 216, 1.0);
    --red-color: rgba(254, 95, 85, 1.0);
    --dark-color: rgba(0, 27, 46, 1.0);
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}