@use 'sass:math'
.chat
    background-color: white
    color: $dark-color
    margin-top: math.div($margin-unit, 2)

    .chat__name
        font-size: 1.6rem
        font-weight: 600
        margin-bottom: math.div($margin-unit, 2)
    .chat__message
        font-size: 1.4rem
        margin-bottom: math.div($margin-unit, 2)