.main__profile
    display: grid
    gap: $margin-unit
    justify-items: center
    color: $dark-color
    .main__profile__img
        @include shadow($vertical: 3)
        border-radius: 50%
        width: 120px
        height: 120px
    .main__profile__subtitle
        font-weight: 400
    .main__profile__btn
        background-color: transparent
        color: $primary-color