@use "sass:math"
@import 'colors'
@import 'mixins'

.purchase
    background-color: white
    color: $dark-color
    margin-top: math.div($margin-unit, 2)
    width: 100%

    .purchase__quantity
        font-size: 1.6rem
        font-weight: 600
    .purchase__status
        margin-bottom: math.div($margin-unit, 2)