@use "sass:math"
    
$primary-color: rgba(20, 153, 17, 1.0)
$primary-dark-color: rgba(37, 109, 27, 1.0)
$left-bar-color: rgba(0, 139, 114, 1.0)
$accent-color: rgba(245, 184, 46, 1.0)
$accent-blue-color: rgba(58, 174, 216, 1.0)
$blue-color: rgba(17, 75, 95, 1.0)
$red-color: rgba(254, 95, 85, 1.0)
$dark-color: rgba(0, 27, 46, 1.0)
$shadow-color: rgba(0, 0, 0, 1)
$light-color: rgba(247, 249, 249, 1.0)
$padding-unit: 20px
$margin-unit: 20px
$border-radius-unit: 20px
$font-family: 'Montserrat', Arial, Helvetica, sans-serif

@mixin padding($vertical: 1, $horizontal: 1) 
  padding: ($padding-unit * $vertical) ($padding-unit * $horizontal)

@mixin centerContent()
    display: flex
    align-items: center
    justify-content: center

@mixin shadow($horizontal: 0, $vertical: 0, $blur: 3, $opacity: 0.25)
    box-shadow: ($horizontal * 1px) ($vertical * 1px) ($blur * 1px) adjust-color($shadow-color, $alpha: -1 + $opacity) 

@mixin goToLink()
    color: $primary-color
    text-decoration: none

* 
    border: 0
    margin: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: $font-family

.layout    
    display: grid
    grid-template-areas: "leftbar main" "footer footer"
    grid-template-rows: 1fr 80px
    grid-template-columns: 250px 1fr
    width: 100vw
    min-height: 100vh


.main
    @include padding()
    grid-area: main
    display: grid
    grid-template-rows: auto 1fr
    grid-template-columns: 1fr 250px
    gap: $margin-unit
    grid-template-areas: "title title" "container buttons"

    .main__title
        grid-area: title
        color: $primary-dark-color

    .main__container
        grid-area: container
        display: grid
        gap: $margin-unit
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
        height: min-content


.footer 
    @include centerContent()
    @include shadow($vertical: -3)
    @include padding()
    

    background-color: $blue-color
    color: white
    font-size: 1.4rem
    text-align: center
    grid-area: footer
    
/* Left bar */

.leftbar
    @include shadow($horizontal: 3)
    @include padding($vertical: 1, $horizontal: 0)

    background-color: $left-bar-color
    color: white
    font-size: 1.4rem
    grid-area: leftbar

.leftbar__title,
.leftbar__date
    @include padding($vertical: 0, $horizontal: 2)

    margin-bottom: math.div($margin-unit, 2)

.nav
    margin: $margin-unit 0

    .nav__list
        padding: 0
        display: flex
        flex-flow: column nowrap
        list-style: none

        .nav__list__item 
            @include padding($vertical: 0.5, $horizontal: 2)
            
            display: block
            color: white
            text-decoration: none
            transition: 0.2s background-color, 0.8s box-shadow
            width: 100%

        .nav__list__item.nav__list__item--selected
            background-color: $accent-blue-color

        .nav__list__item:hover,
        .nav__list__item.nav__list__item--selected:hover
            background-color: $primary-color
            @include shadow($blur: 6)
            

/* Card */

.card
    @include shadow($blur: 6)
    @include padding($vertical: 0.6)
    
    background-color: $light-color
    border-radius: $border-radius-unit
    color: $primary-dark-color

    .card__header
        display: inline-flex
        flex-flow: row wrap
        justify-content: space-between
        margin-bottom: math.div($margin-unit, 2)
        margin-left: -$margin-unit
        margin-top: - math.div($margin-unit, 3)
        padding-right: $padding-unit
        padding-bottom: math.div($padding-unit, 3)
        width: calc(100% + 40px)
        @include shadow($vertical: 2, $blur: 2, $opacity: 0.05)
        

    .card__title
        font-size: 1.6rem
        margin-left: $margin-unit
        margin-top: math.div($margin-unit, 3)

    .card__redirect
        @include goToLink()    
        font-size: 1.4rem
        justify-self: end  
        margin-left: $margin-unit
        margin-top: math.div($margin-unit, 3)

    .card__content--unique
        font-size: 2.2rem

/* Right bar */

.buttons
    display: grid
    gap: $margin-unit
    grid-area: buttons
    height: min-content

    .btn
        background-color: $left-bar-color
        color: white
        text-align: start
        font-family: $font-family
        cursor: pointer
        transition: 0.2s background-color, 0.3s color, 0.3s box-shadow

        h1
            font-size: 1.6rem
            margin-bottom: math.div($margin-unit, 2)
    .btn--red
        background-color: $red-color
    
    .btn:hover
        @include shadow($vertical: 3, $blur: 10, $opacity: 0.6)
        background-color: $primary-color
        color: white